.guide-wrapper{
    /* width: 100%; */
}
/* watch page styles */

.guide-wrapper.watch-active{
    position: fixed;
    z-index: 100;
}

.guide-wrapper.watch-active .mini-guide{
    display: none;
}


.guide-wrapper.watch-active .main-guide-bg{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.203);
    opacity: 0;
}

.guide-wrapper.watch-active .main-guide-outer.show .main-guide-bg{
    opacity: 1;
}

.guide-wrapper.watch-active .main-guide-outer{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;

}

.guide-wrapper.watch-active .main-guide-outer.show{
    pointer-events: all;
}

.guide-wrapper.watch-active .main-guide{
    position: static;
    top: 0;
    height: 100vh;
    transform: translateX(-250px);

}

.guide-wrapper.watch-active .main-guide-outer.show .main-guide{
    transform: translateX(0px);
}

/* watch page styles */

/* regular page styles */
.main-guide-outer{
    width: fit-content;
    position: sticky;
    top: 56px;
}

.main-guide{
    width: 240px;
    min-width: 240px;
    max-width: 240px;
    height: calc(100vh - 56px);
    background-color: rgb(63, 63, 63);
    position: sticky;
    top: 56px;
    z-index: 10;
}

.guide-wrapper.mini-active .main-guide-outer{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 101;
    pointer-events: none;
    


}

.guide-wrapper.mini-active .main-guide-outer.show{
    pointer-events: all;
}

.guide-wrapper.mini-active .main-guide-bg{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.203);
    opacity: 0;
}

.guide-wrapper.mini-active .main-guide-outer.show .main-guide-bg{
    opacity: 1;
}

.guide-wrapper.mini-active .main-guide{
    position: static;
    top: 0;
    height: 100vh;
    transform: translateX(-240px);
    z-index: 20;
}

.main-guide-outer.show .main-guide-bg,
.main-guide-outer.hide .main-guide-bg{
    transition: opacity 150ms cubic-bezier(0.075, 0.82, 0.165, 1);

}

.main-guide-outer.show .main-guide,
.main-guide-outer.hide .main-guide{
    transition: transform  150ms cubic-bezier(0.075, 0.82, 0.165, 1);

}

.guide-wrapper.mini-active .main-guide-outer.show .main-guide{
    transform: translateX(0px);
}

.mini-guide{
    width: 80px;
    height: 400px;
    background-color: grey;
    position: sticky;
    top: 56px;
    
}

.guide-wrapper .guide-hidden{
    display: none;
}
/* regular page styles */

.guide-button{
    width: 100%;
    height: 56px;
    display: flex;
    gap: 10px;
    align-items: center;

}

.guide-switcher{
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
}

.guide-switcher:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 510px) {
    .hvd-app-flexy{
        gap: 0;
    }

    .mini-guide{
        display: none;
    }
    
}